.home-container {
    padding: 2rem;
    transition: background-color 1s ease, color 1s ease;
    background-color: #ffffff;
    color: #333333;
  }
  
  [data-theme="dark"] .home-container {
    background-color: #2c003e;
    color: #cccccc;
  }
  