.footer {
  background-color: #0f0f0f;
  padding: 80px 80px 40px;
}

.footerContent {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.divider {
  background-color: #262626;
  height: 1px;
  border: none;
  margin: 0;
}

.footerBottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.copyright {
  color: #999;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.policyLinks {
  align-items: center;
  gap: 16px;
  display: flex;
}

.policyLink {
  color: #999;
  cursor: pointer;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  background: none;
  border: none;
  padding: 0;
}

.separator {
  background-color: #262626;
  width: 1px;
  height: 21px;
}

@media (width<=991px) {
  .footer {
    padding: 40px;
  }
}

@media (width<=640px) {
  .footer {
    padding: 20px;
  }

  .footerBottom {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
}
