.showCard {
  border-radius: 10px;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  min-height: 308px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 224px;
  flex-shrink: 0;
}

.showImage {
  aspect-ratio: 0.84;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 10px;
  flex: 1;
}

.showDetails {
  display: flex;
  margin-top: 16px;
  width: 100%;
  justify-content: space-between;
}

.durationBadge {
  display: flex;
  align-items: center;
  border-radius: 51px;
  border: 1px solid #262626;
  background-color: #141414;
  padding: 4px 8px 4px 4px;
  gap: 2px;
}

.clockIcon {
  width: 20px;
  height: 20px;
  margin: auto 0;
  color: #999;
}

.durationText {
  color: #999;
  font-family:
    Manrope,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.seasonsBadge {
  display: flex;
  align-items: center;
  border-radius: 51px;
  border: 1px solid #262626;
  background-color: #141414;
  padding: 4px 8px 4px 4px;
  gap: 4px;
}

.tvIcon {
  width: 20px;
  height: 20px;
  margin: auto 0;
  color: #999;
}

.seasonsText {
  color: #999;
  font-family:
    Manrope,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.ratingBadge {
  display: flex;
  align-items: center;
  border-radius: 51px;
  border: 1px solid #262626;
  background-color: #141414;
  padding: 6px 10px;
  gap: 4px;
}

.ratingStars {
  display: flex;
  gap: 1px;
}

.star {
  font-size: 14px;
  color: #333;
}

.starFilled {
  color: #e50000;
}

.ratingCount {
  color: #999;
  font-family:
    Manrope,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-left: 4px;
}
